form {
  margin: 10px;
}

div.upload-wrapper {
  position:relative;
}

input[name=attachment] {
  display:inline-block;
  background: wheat;
  position:absolute;
  top: 0;
  left: 0;
  opacity:0.4;
  font-size: 0px;
  cursor: pointer;
  z-index:0;
}

button.upload-file {
  display:inline-block;
  position: static;
  z-index:-1;
  cursor: pointer;
}

button.link-file {
  display:inline-block;
}

.selected-file {
   padding: 5px 0px;
}
.selected-file .name {
   font-size: 0.9em;
   font-family: monospace;
}
